body 
{
	background-image:url(../pic/back.jpg);
	}
	
	h1 {text-align:center;
	 font-family:"harlow solid italic","Baskerville Old Face","monotype corsiva";
	 
	}


 .epi {
	background-image:url(../pic/epi.jpg);
	margin-top:0.5%;
	margin: auto;
	
	width:900px;
	position:center;
	padding-top:27px;
	padding-left:15px;
	padding-right:15px;
	padding-bottom:15px;
	color:blue;

  }
 
 
.main {
	background-image:url(../pic/paper.jpg);
	margin-top:2%;
	width:900px;
	margin: auto;
	position:center;
	padding-top:27px;
	padding-left:15px;
	padding-right:15px;
	padding-bottom:27px;
	position:relative

	}

#foto {
	padding-left:20px;
}

table {
  
 margin-left:10%;
		margin-bottom:10%;
		 font-size: 25px;
		 font-family:"Baskerville Old Face","harlow solid italic","monotype corsiva";
}

th {
  font-weight: normal;
  color: #020F45;
  padding: 15px 20px;
  	 
}
td {
   color: #020F45;
  border-top: 1px dotted #331400;
  padding: 15px 20px;
  	}
	
	
.doc {
	margin-left:2%;
	margin-right:2%;
	font-size: 30px;
	font-family:"Baskerville Old Face","harlow solid italic","monotype corsiva";
 }

#stamp {
	
	float: right;
}

footer {
text-align:center;
color:blue;
font-size: 22px;
}